@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
}

.bg-image {
  background-image: url("/images/bg-texture.png");
}
/* =================Section Title Upper================= */
.section-title-upper {
  text-align: center;
  color: var(--color-light);
  font-size: 0.8;
}

/* =================Section Title================= */
.section-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

/* =======================================how-it-works======================================= */
.how-it-works {
  line-height: 1;
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  right: 2rem;
  top: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  color: var(--color-primary);
  font-size: 2rem;
}

.how-it-works:hover {
  cursor: pointer;
}

.how-it-works-container {
  margin: 5vh 10vw 15vh;
}

.work-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.work-info img {
  text-align: center;
  height: 70vh;
  object-fit: contain;
  border: 4px solid var(--color-bg-variant);
}

/* =======================================Header======================================= */
#particles-js {
  height: 100vh;
  width: 100vw;
}

#header {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  font-size: 5rem;
  text-align: center;
}

.type-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  gap: 3px;
  font-size: 1.5rem;
}

/* =======================================Predict======================================= */
.predict_section {
  padding: 5vh 5vw 5vh;
}

.predict_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  font-size: 30px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form input[type="text"] {
  width: 77vw;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px 0px 0px 5px;
  color: black;
}

.form-input-container {
  display: flex;
  flex-direction: row;
  padding-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.form-clear {
  height: 2.5rem;
  width: 2.5rem;
  background: #fff;
  border-radius: 0px 5px 5px 0px;
}

.form-clear > i {
  font-size: 1.5rem;
}

.error {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  border-left: 3px solid red;
}

.error-right {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  border-right: 3px solid red;
}

.error-label-remove {
  display: none;
}

.error-label-add {
  display: block;
  color: red;
  font-size: 1rem;
  padding-top: 2px;
}

.form_button {
  display: flex;
  justify-content: flex-end;
}

.button-50 {
  appearance: button;
  backdrop-filter: blur(5px);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--color-bg-variant);
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: var(--color-bg) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

/* =======================================About======================================= */

.about_section {
  padding: 5vh 20vw 5vh;
}
/* 
#content {
  width: 75%;
  display: block;
  margin: 0 auto;
  font-size: 25px;
} */

#about {
  width: 100%;
  /* text-align: center; */
}

.about_section_container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.about_sec_pad {
  padding: 1rem 0px 1rem;
  line-height: 1.8rem;
}

.about_left_section p {
  color: var(--color-white);
  font-size: 1.5rem;
}

.about_right_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 15vw; */
  width: 100vw;
  margin-bottom: 1rem;
}

.about_left_bottom {
  color: var(--color-white);
  font-size: 1.5rem;
}

/* =======================================NavBar========================================= */

nav {
  line-height: 1;
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

/* ==========================================Footer============================================ */
.footer_section {
  padding: 5vh 10vw 5vh;
  padding-bottom: 7rem;
}

.footer_text {
  text-align: center;
  font-size: 1.3rem;
  margin: 2rem 0px 1.5rem;
}

.contact-mails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
}

.contact-mails a {
  color: var(--color-white);
  font-size: 1.2rem;
  padding: 1rem;
  background: transparent;
}

.contact-mails a:hover {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-light);
  border-left: 1px solid var(--color-light);
  border-radius: 25px;
}

.copy-rite {
  text-align: center;
  margin-top: 3rem;
  color: var(--color-light);
}

/* =========================Responsive================================ */
/* -----------------------Media Queries(MD)----------------------- */
@media screen and (max-width: 1024px) {
  .title {
    font-size: 4rem;
  }
  .about_section_container {
    flex-direction: column-reverse;
  }
  .about_section {
    padding: 5vh 10vw 5vh;
  }
  .about_sec_pad {
    padding: 0.5rem 0px 0.5rem;
  }
  .about_left_section p {
    text-align: center;
    font-size: 1.3rem;
  }
  .about_left_bottom {
    text-align: center;
    font-size: 1.3rem;
  }
  .about_image {
    width: 50vw;
    margin-bottom: 0px;
  }

  .how-it-works-container {
    margin: 5vh 10vw 15vh;
  }

  .work-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .work-info img {
    height: 25vh;
  }
}

/* -----------------------Media Queries(SM)----------------------- */
@media screen and (max-width: 600px) {
  .title {
    font-size: 3rem;
  }
  .section-title {
    font-size: 2.5rem;
  }
  .how-it-works {
    /* transform: translateX(-50%); */
    right: 1rem;
    top: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    color: var(--color-primary);
  }
  .about_section {
    padding: 5vh 5vh 5vh;
  }
  .about_left_section p {
    font-size: 1.05rem;
  }
  .about_left_bottom {
    font-size: 1.05rem;
  }
  #form label {
    font-size: 1.5rem;
  }
  #form input[type="text"] {
    height: 2rem;
    padding: 0.5rem;
  }
  .form-clear {
    height: 2rem;
    width: 2rem;
  }
  .error-label-add {
    font-size: 1rem;
  }
  .form-clear > i {
    font-size: 1.1rem;
  }
  .button-50 {
    font-size: 1.1rem;
  }
  .footer_section {
    padding: 5vh 5vw 5vh;
  }

  .how-it-works-container {
    margin: 5vh 5vw 15vh;
  }
}